<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyai.warehouse.mapper.WarehouseOutReceiptMapper">

    <resultMap type="WarehouseOutReceipt" id="WarehouseOutReceiptResult">
        <result property="warehouseOutReceiptId" column="warehouse_out_receipt_id"/>
        <result property="warehouseId" column="warehouse_id"/>
        <result property="documentNumber" column="document_number"/>
        <result property="outWarehouseTime" column="out_warehouse_time"/>
        <result property="outWarehouseType" column="out_warehouse_type"/>
        <result property="receiveTime" column="receive_time"/>
        <result property="receiveId" column="receive_id"/>
        <result property="receiveName" column="receive_name"/>
        <result property="auditTime" column="audit_time"/>
        <result property="auditId" column="audit_id"/>
        <result property="auditName" column="audit_name"/>
        <result property="state" column="state"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectWarehouseOutReceiptVo">
        select warehouse_out_receipt_id,
               warehouse_id,
               document_number,
               out_warehouse_time,
               out_warehouse_type,
               receive_time,
               receive_id,
               receive_name,
               audit_time,
               audit_id,
               audit_name,
               state,
               del_flag,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        from warehouse_out_receipt
    </sql>

    <select id="selectWarehouseOutReceiptList" parameterType="WarehouseOutReceipt"
            resultMap="WarehouseOutReceiptResult">
        <include refid="selectWarehouseOutReceiptVo"/>
        <where>
            and del_flag = 0
            <if test="warehouseId != null ">and warehouse_id = #{warehouseId}</if>
            <if test="documentNumber != null  and documentNumber != ''">and document_number = #{documentNumber}</if>
            <if test="params.beginOutWarehouseTime != null and params.beginOutWarehouseTime != '' and params.endOutWarehouseTime != null and params.endOutWarehouseTime != ''">
                and out_warehouse_time between #{params.beginOutWarehouseTime} and #{params.endOutWarehouseTime}
            </if>
            <if test="outWarehouseType != null  and outWarehouseType != ''">and out_warehouse_type =
                #{outWarehouseType}
            </if>
            <if test="receiveTime != null ">and receive_time = #{receiveTime}</if>
            <if test="receiveId != null  and receiveId != ''">and receive_id = #{receiveId}</if>
            <if test="receiveName != null  and receiveName != ''">and receive_name like concat('%', #{receiveName},
                '%')
            </if>
            <if test="auditTime != null ">and audit_time = #{auditTime}</if>
            <if test="auditId != null  and auditId != ''">and audit_id = #{auditId}</if>
            <if test="auditName != null  and auditName != ''">and audit_name like concat('%', #{auditName}, '%')</if>
            <if test="state != null  and state != ''">and state = #{state}</if>
        </where>
        <!-- 数据范围过滤 -->
        ${params.warehouseScope}
        order by create_time desc
    </select>

    <select id="selectWarehouseOutReceiptByWarehouseOutReceiptId" parameterType="Long"
            resultMap="WarehouseOutReceiptResult">
        <include refid="selectWarehouseOutReceiptVo"/>
        where del_flag =0 and warehouse_out_receipt_id = #{warehouseOutReceiptId}
    </select>

    <select id="getOutReceiptScanList" parameterType="WarehouseOutReceipt" resultType="WarehouseOutReceiptVo">
        SELECT a.warehouse_out_receipt_id,
               a.document_number,
               a.out_warehouse_time,
               a.out_warehouse_type,
               a.receive_name,
               a.remark,
               b.warehouse_name
        FROM warehouse_out_receipt a
                 LEFT JOIN warehouse b ON a.warehouse_id = b.warehouse_id
        where a.del_flag = 0
          and a.state = #{state}
        <!-- 数据范围过滤 -->
        ${params.warehouseScope}
        order by a.create_time desc
    </select>

    <select id="getOutReceiptScanDetail" parameterType="Long" resultType="WarehouseOutReceiptVo">
        SELECT a.warehouse_out_receipt_id,
               a.document_number,
               a.out_warehouse_time,
               a.out_warehouse_type,
               a.receive_name,
               a.remark,
               b.warehouse_name
        FROM warehouse_out_receipt a
                 LEFT JOIN warehouse b ON a.warehouse_id = b.warehouse_id
        where a.del_flag = 0
          and a.warehouse_out_receipt_id = #{receiptId}
    </select>

    <insert id="insertWarehouseOutReceipt" parameterType="WarehouseOutReceipt">
        insert into warehouse_out_receipt
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="warehouseOutReceiptId != null">warehouse_out_receipt_id,</if>
            <if test="warehouseId != null">warehouse_id,</if>
            <if test="documentNumber != null">document_number,</if>
            <if test="outWarehouseTime != null">out_warehouse_time,</if>
            <if test="outWarehouseType != null">out_warehouse_type,</if>
            <if test="receiveTime != null">receive_time,</if>
            <if test="receiveId != null">receive_id,</if>
            <if test="receiveName != null">receive_name,</if>
            <if test="auditTime != null">audit_time,</if>
            <if test="auditId != null">audit_id,</if>
            <if test="auditName != null">audit_name,</if>
            <if test="state != null">state,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="warehouseOutReceiptId != null">#{warehouseOutReceiptId},</if>
            <if test="warehouseId != null">#{warehouseId},</if>
            <if test="documentNumber != null">#{documentNumber},</if>
            <if test="outWarehouseTime != null">#{outWarehouseTime},</if>
            <if test="outWarehouseType != null">#{outWarehouseType},</if>
            <if test="receiveTime != null">#{receiveTime},</if>
            <if test="receiveId != null">#{receiveId},</if>
            <if test="receiveName != null">#{receiveName},</if>
            <if test="auditTime != null">#{auditTime},</if>
            <if test="auditId != null">#{auditId},</if>
            <if test="auditName != null">#{auditName},</if>
            <if test="state != null">#{state},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateWarehouseOutReceipt" parameterType="WarehouseOutReceipt">
        update warehouse_out_receipt
        <trim prefix="SET" suffixOverrides=",">
            <if test="warehouseId != null">warehouse_id = #{warehouseId},</if>
            <if test="documentNumber != null">document_number = #{documentNumber},</if>
            <if test="outWarehouseTime != null">out_warehouse_time = #{outWarehouseTime},</if>
            <if test="outWarehouseType != null">out_warehouse_type = #{outWarehouseType},</if>
            <if test="receiveTime != null">receive_time = #{receiveTime},</if>
            <if test="receiveId != null">receive_id = #{receiveId},</if>
            <if test="receiveName != null">receive_name = #{receiveName},</if>
            <if test="auditTime != null">audit_time = #{auditTime},</if>
            <if test="auditId != null">audit_id = #{auditId},</if>
            <if test="auditName != null">audit_name = #{auditName},</if>
            <if test="state != null">state = #{state},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where warehouse_out_receipt_id = #{warehouseOutReceiptId}
    </update>

    <update id="deleteWarehouseOutReceiptByWarehouseOutReceiptId" parameterType="Long">
        update warehouse_out_receipt
        set del_flag = 1
        where warehouse_out_receipt_id = #{warehouseOutReceiptId}
    </update>

    <update id="deleteWarehouseOutReceiptByWarehouseOutReceiptIds" parameterType="String">
        update warehouse_out_receipt set del_flag = 1 where warehouse_out_receipt_id in
        <foreach item="warehouseOutReceiptId" collection="array" open="(" separator="," close=")">
            #{warehouseOutReceiptId}
        </foreach>
    </update>
</mapper>