.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.direction-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap
}

.w-50 {
  width: 50%;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}